.wrapper{
    width: 1200px;
    margin: 0 auto;
    /*background-color: #e2ece9;*/
    /*border: 1px solid black;*/
}
.wrapper .row{
    margin: 0 auto;
}
h1{
    font-family: Calibre-Bold;
    letter-spacing: 0.3em;
    text-shadow: 1px 1px #439c80;

}
.adesign{
     font-family: Calibre-Bold;
    color: #4f8e7a;
    font-weight: bold;
    text-shadow: 1px 1px #1e1f1e;
    letter-spacing: 0.1em;
}

h1{
    font-size: 30px;
}
.header{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.69), #f5dfe1);

}
.header h3{
    margin: 0;
}
.headeradesign{
    /*float: right;*/
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-family: Calibre-Bold;
    letter-spacing: 0.05em;
}
img{
    width: 100%;
}
.row .col-sm-4{
    padding: 1px;
}
.h3design{
    background-color: #d5e3df;
    font-family: Calibre-Bold;
    letter-spacing: 0.1em;
    text-align: center;
}
.text-black{
    color: #1e1f1e;
}
#middle{
    background-color:  #f5dfe1;
    color: #4b4848;
    letter-spacing: 0.2em;
}
.slider-container{
    width: 100%;
    background-color: #f5dfe1;
    border-left: 30px solid #f8f3f4;
    border-right: 30px solid #f8f3f4;

}
.text-brown{
    color: rgba(68, 32, 7, 0.76);
    letter-spacing: 0.1em;
    font-size: 18px;
}