<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    <style type="text/css">

    </style>
</head>
<body>
    <div class="container my-2 py-5">
       <div class="row">
          <div class="col-sm-6 pl-5">
               <h1 class="mt-150 fz-4">Tastefully eating...</h1>
               <p class=" fz-1">Share your favourite recipes with friends and the world around you on Tastefully Eating!</p>
          </div>
          <div class="col-sm-6">
            <div class="box ml-80 border-rad10">
                <form class="txt-center" action="/signup" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <input class="some" type="text" name="first_name" id="first_name" placeholder="First name">
                    <input class="some" type="text" name="last_name" id="last_name" placeholder="Last name">
                    <input class="some" type="text" name="email" id="email" placeholder="Email">
                    <input class="some" type="password" name="password" id="password" placeholder="Password">
                    <input class="some" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
                    <button class="some p0 txt-center">Sign up</button>
                    <div class="str"></div>
{#                    <p class="txt-left  pl20 ">Don't have an account?</p>#}
{#                    <button class="some p0 txt-center"><a href="/signupProcess">Sign up</a></button>#}
                </form>
                <p class="txt-left  pl20 ">Have an account?</p>
                <a href="/login"><button class="some p0 txt-center">Log in</button></a>
            </div>
          </div>
       </div>




    </div>
</body>
</html>